body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  color: #384254;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0039a9;
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 100px;
}